<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="../home">Home</a>
  </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="../admin/adminhome">Admin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="../user/userhome">User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="../set-info">Set</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="../get-info">Get</a>
    </li>
  </ul>
