<div class="container justify-content-center">
<form>
    <div class="mb-3">
      <label for="exampleInputId1" class="form-label">Admin Id</label>
      <input type="text" class="form-control" id="exampleInputId1">
     </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>

